<section id='sotd' class='introductory'>
  <h1>{{l10n.ipr}}</h1>
  <p>IPRs essential or potentially essential to the present document may have been declared to ETSI.
     The information pertaining to these essential IPRs, if any, is publicly available for ETSI members and non-members, and can be found in 
     <a href="http://www.etsi.org/standards-search?search=SR+000+314" target="_blank">ETSI SR 000 314: "Intellectual Property Rights (IPRs); Essential, or potentially Essential, IPRs notified to ETSI in respect of ETSI standards"</a>,
     which is available from the ETSI Secretariat. Latest updates are available on the ETSI Web server (<a href="http://ipr.etsi.org">http://ipr.etsi.org</a>).</p>

  <p>Pursuant to the ETSI IPR Policy, no investigation, including IPR searches, has been carried out by ETSI.
  No guarantee can be given as to the existence of other IPRs not referenced in ETSI SR 000 314 (or the updates on the ETSI Web server) which are, or may be, or may become, essential to the present document.
</section>
<section id="forewords" class='introductory'>
  <h1>{{l10n.foreword}}</h1>
  <p>This Technical Specification (TS) has been produced by ETSI Technical Committee {{{wgHTML}}} ({{wg}}).
</section>
