.head p:not(.copyright):first-child > a.logo {
  float:none;
}
a.logo img {
  width:100%; height:auto;
}
abbr {
    font-style: italic;
}

em.edr-modal {
    text-transform: none;
    font-variant: normal;
}
em.edr-error {
    color:red;
}
